<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script>
      const ROOM_ID = "<%= roomId %>";
    </script>
    <script
      defer
      src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"
    ></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="/wcs-vchat-script.js" defer></script>
    <link rel="stylesheet" href="https://unpkg.com/xp.css" />
    <title>wcs-vchat</title>
    <style>
      body {
        background-color: rgb(199, 217, 228);
      }
      #video-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, 400px);
        grid-auto-rows: 400px;
      }
      video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin: auto;
      }
    </style>
  </head>

  <body>
    <div class="window" style="width: 100%">
      <div class="title-bar">
        <div class="title-bar-text">Wonmo Cyber Sool Mukbang</div>
        <div class="title-bar-controls">
          <button aria-label="Minimize"></button>
          <button aria-label="Maximize"></button>
          <button aria-label="Close"></button>
        </div>
      </div>
      <div class="window-body">
        <section class="field-row" style="justify-content: center">
          <p>부워라 마셔라.</p>
        </section>
        <section class="field-row" style="justify-content: center">
          <div id="video-grid"></div>
        </section>
      </div>
    </div>
  </body>
</html>
